body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #f77f00;
}
.container{
    background-color: #eae2b7;
    width: 400px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.textarea{
    resize: none;
    width: 100%;
    height: 100px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #f77f00;
}
.counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.counter-container p{
    font-size: 18px;
    color: #f77f00;
}
.total-counter{
    color: #003049;
}
.remaining-counter{
    color: #d62828;
}